:host{
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3rem;
    p{
        width: 20%;
        font-size: 14px;
        text-align: justify;

    }
}