@media (max-width:720px){
    :host{

        h1{
            top: 0%;
        }
        .france_content{
            gap: 10px;

            video{
                height: 300px;
                width: 200px;
            }
        }

        p{
            width: 50%;
            right: 20%;
            font-weight: 400;
        }
    }
}

@media (max-width:425px){
    :host{

        h1{
            top: 0%;
            font-size: 70px;
        }
        .france_content{
            transform: translateY(-60px);
            gap: 10px;

            video{
                height: 200px;
                width: 150px;
            }
            .france_image{
                height: 150px;
                width: 100px;
            }
        }

        p{
            width: 90%;
            right: 5%;
            bottom: 0%;
        }
    }
}