<h1>France</h1>


<div class="france_content">
    <video src="https://cdn.cosmos.so/d6e36bb8-304f-4de3-8cbe-4dbf20b45df2.mp4" autoplay muted loop ></video>

    <div class="france_image">
        <img ngSrc="https://cdn.cosmos.so/7c27ef08-6591-46c3-a7b9-ada0a677d2ea?format=jpeg" fill alt="">

    </div>

</div>

<p>France is a diverse destination with something for everyone.
    Explore the bustling streets of Paris, relax on the beaches of the French Riviera, or discover the historic charm of
    its countryside. With rich culture,
    iconic landmarks, and delicious cuisine, France is a must-visit.</p>