<h1>France</h1>


<div class="france_content">
    <video [src]="franceVideoSrc"
    [@appear]="{value:'visible'}" 
    autoplay 
    muted
    loop
    poster="/images/france-images/france-video-frame.png"
    playinline
    ></video>

    <div class="france_image" [@appear]="{value:'visible'}">
        <img [ngSrc]="franceImage" fill alt="Castle">

    </div>

</div>

<p>France is a diverse destination with something for everyone.
    Explore the bustling streets of Paris, relax on the beaches of the French Riviera, or discover the historic charm of
    its countryside. With rich culture,
    iconic landmarks, and delicious cuisine, France is a must-visit.</p>
    <app-back-button/>