<div class="slide" [@slideAnimation]="slide()">
  @switch (slide()) {
    @case (1) {
      <div class="slide_content">
        <h1>London</h1>
        <div class="slide_image">
          <img [ngSrc]="londonImage" fill alt="Big Ben, London">
        </div>
        <p>The capital of England, known for its historic landmarks like Big Ben and the Tower of London.</p>
      </div>
    }

    @case (2) {
      <div class="slide_content">
        <h1>New York</h1>
        <div class="slide_image">
          <img [ngSrc]="newYork" fill alt="New York City Skyline">
        </div>
        <p>The Big Apple, famous for Times Square, Central Park, and the Statue of Liberty.</p>
      </div>
    }

    @case (3) {
      <div class="slide_content">
        <h1>Bangkok</h1>
        <div class="slide_image">
          <img [ngSrc]="bangkok" fill alt="Bangkok Cityscape">
        </div>
        <p>Known for its vibrant street life, ornate shrines, and the Grand Palace.</p>
      </div>
    }

    @case (4) {
      <div class="slide_content">
        <h1>Istanbul</h1>
        <div class="slide_image">
          <img [ngSrc]="istanbul" fill alt="Hagia Sophia, Istanbul">
        </div>
        <p>A city that bridges Europe and Asia, famous for its historic sites like Hagia Sophia.</p>
      </div>
    }

    @case (5) {
      <div class="slide_content">
        <h1>Amsterdam</h1>
        <div class="slide_image">
          <img [ngSrc]="amsterdam" fill alt="Canals of Amsterdam">
        </div>
        <p>Known for its artistic heritage, elaborate canal system, and narrow houses.</p>
      </div>
    }

    @case (6) {
      <div class="slide_content">
        <h1>Madrid</h1>
        <div class="slide_image">
          <img [ngSrc]="madrid" fill alt="Royal Palace, Madrid">
        </div>
        <p>The capital of Spain, renowned for its royal palace, Prado Museum, and vibrant culture.</p>
      </div>
    }
  }
</div>

<button (click)="nextSlide()">see a little bit more</button>