<div class="brasil_content">
    <h1>Brasil</h1>
    <p>Brazil is a land of contrasts and excitement. Discover the rhythm of its cities, the serenity of its natural wonders, and the warmth of its people.
         Whether it’s the Amazon, the beaches, or the vibrant culture, Brazil promises unforgettable experiences.</p>
</div>
<div class="brasil_images">
    <div class="bra_images">
        <div class="bra_image">
            <img [ngSrc]="brasilImage1" fill alt="Ayrton Senna photo">
        </div>
        <div class="bra_image">
            <img [ngSrc]="brasilImage2" fill alt="ronaldo fenomeno photo">
        </div>
    </div>
    <div class="bra_video">
        <video [src]="brasilVideo"  autoplay muted loop></video>
    </div>
</div>
<app-back-button/>