<div class="brasil_content">
    <h1>Brasil</h1>
    <p>Brazil is a land of contrasts and excitement. Discover the rhythm of its cities, the serenity of its natural wonders, and the warmth of its people.
         Whether it’s the Amazon, the beaches, or the vibrant culture, Brazil promises unforgettable experiences.</p>
</div>
<div class="brasil_images">
    <div class="bra_images">
        <div class="bra_image">
            <img ngSrc="https://cdn.cosmos.so/1a212b6d-f772-41e7-9fd3-7eff456bd805?format=jpeg" fill alt="">
        </div>
        <div class="bra_image">
            <img ngSrc="https://cdn.cosmos.so/84253e9e-8292-4e31-8893-6e0bea9fc181?format=jpeg" fill alt="">
        </div>
    </div>
    <div class="bra_video">
        <video src="https://cdn.cosmos.so/243f8a28-a37d-492d-afb6-f41572dcb586.mp4"  autoplay muted loop></video>
    </div>
</div>