@media (max-width:720px) {
    :host {
        .france_text {
            h2 {
                font-size: 70px;
            }
        }
    }
}

@media (max-width:425px) {
    :host {
        .france_text {
            h2 {
                font-size: 50px;
            }

            p {
                width: 90%;
            }
        }
    }
}

@media (max-width:320px) {
    :host {
        flex-direction: column;

        .image_container,
        .france_text {
            width: 100%;
        }
    }
}