:host{
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;

    .image_container,.france_text{
        width: 50%;
        height: 100%;
    }
    .image_container{
        background: url("../../../../public/images/home-images/french-main-image.jpg")center/cover;
    }
    .france_text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2{
            font-size: 130px;
            font-weight: 300;
        }

        p{
            font-size: 12px;
            width: 50%;
            text-align: start;
        }
    }
}