@media (max-width:720px) {
    :host {
        .china_text {
            h2 {
                font-size: 70px;
            }

        }
    }
}

@media (max-width:425px) {
    :host {
        .china_text {
            h2 {
                font-size: 60px;
                margin-bottom: 4rem;
            }
            h3{
                display: none;
            }

            p {
                width: 70%;
            }
        }
    }
}

@media (max-width:320px) {
    :host {
        flex-direction: column;

        .image_container,
        .china_text {
            width: 100%;

            p {
                font-size: 12px;
            }
        }

    }
}