@media (max-width:720px) {
    :host {
        .brasil_text {
            h2 {
                font-size: 70px;
            }
            p{  
                width: 90%;
                font-size: 12px;
            }
        }
    }
}

@media (max-width:425px) {
    :host {
        .brasil_text {
            h2 {
                font-size: 50px;
            }
        }
    }
}

@media (max-width:320px) {
    :host {
        flex-direction: column;

        .image_container,
        .brasil_text {
            width: 100%;
        }
    }
}