<div class="japan_content">
    <p>
        France is a diverse destination with something for everyone. 
        Explore the bustling streets of Paris, relax on the beaches of the French Riviera, or discover the historic charm of its countryside. 
        With rich culture, iconic landmarks, and delicious cuisine, France is a must-visit.</p>

        <div class="japan_video">
            <video src="https://cdn.cosmos.so/abeed33b-1f27-4e29-8a98-6d3b5f83549e.mp4" autoplay muted loop ></video>
        </div>
</div>
<div class="japan_title">
    <h1>(Japan)</h1>
    <h3>日本</h3>
</div>
<div class="japan_images">
    <div class="japan_image">
        <img ngSrc="https://cdn.cosmos.so/ddf83dbd-9862-4d44-9594-134249be8a16?format=jpeg" fill alt="japanese traditional home">
    </div>
    <div class="japan_image">
        <img ngSrc="https://cdn.cosmos.so/5c2d75b5-7d27-4d17-93f2-e927bdee2d76?format=jpeg" fill alt="japanese garden">
    </div>
</div>
