@media (max-width:960px) {
    :host {
        .japan_content {
            width: 100%;

            p {
                padding-left: 0%;

            }

            .japan_video {
                height: 300px;
                width: 200px;
            }
        }

        .japan_images {
            height: 100%;
            justify-content: space-around;

            .japan_image {
                height: 200px;
                width: 200px;

                &:nth-child(2) {
                    height: 150px;
                }
            }
        }
    }
}

@media (max-width:720px) {
    :host {
        flex-direction: column;

        .japan_content {
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .japan_video {
                width: 50%;
            }
        }
        .japan_title{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 30px;
            }
            h3 {
                font-size: 50px;
            }
        }
        .japan_images {
            width: 100%;
            flex-direction: row;
            align-items: center;
            gap: 1px;
            .japan_image {
                width: 50%;
                height: 100%;
                &:nth-child(2) {
                    width: 50%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width:420px) {
    :host{
        .japan_content {
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                font-size: 10px;
            }
            .japan_video {
                width: 50%;
                height: 90%;
            }
        }
        .japan_title{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 20px;
            }
            h3 {
                font-size: 40px;
            }
        }
        .japan_images {
            width: 100%;
            flex-direction: row;
            align-items: center;
            gap: 1px;
            .japan_image {
                width: 100%;
                height: 90%;
                &:nth-child(2) {
                    width: 100%;
                    height: 90%;
                }
            }
        }   
    }
}