<div class="china_title">
    <h3>中国</h3>
    <h1>( China )</h1>
</div>

<div class="china_content">
    <div class="china_image">
        <img [ngSrc]="firstImage" fill alt="chinese garden">
    </div>
    <div class="china_image">
        <img [ngSrc]="secondImage"  fill
            alt="chinese traditional home">
    </div>
    <div class="china_image">
        <img  [ngSrc]="thirdImage" fill
            alt="chinese traditional home">
    </div>
    <p>China is a fascinating blend of ancient traditions and modern innovation. Walk along the Great Wall, explore the
        bustling streets of Shanghai,
        or marvel at the serene landscapes of Guilin. With its rich history, diverse culture, and iconic landmarks,
        China offers a journey like no other.</p>
</div>