:host {
    height: 100dvh;
    width: 100%;
    display: block;

    .china_title{
        position: absolute;
        top:10%;
        right:5%;

        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        line-height: 4rem;
        h1{
            font-size: 20px;
        }
        h3{
            font-size: 100px;
            font-weight: 100;
        }
    }

    .china_content {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 5px;
        .china_image {
            display: flex;
            position: relative;
            height: 100%;
            width: 100%;
            grid-area: 2/2/5/4;

            img {
                position: absolute;
                object-fit: cover;
            }

            &:nth-child(2) {
                grid-area: 5/3/7/4;
            }

            &:nth-child(3) {
                grid-area: 3/4/6/5;
            }
        }

        p {
            font-size: 14px;
            text-align: justify;
            grid-area: 6/2/7/3;
        }
    }
}