:host{
    display: block;
    position: absolute;
    top:3%;
    right:3%;



    a{
        font-family: "Klee One", cursive;
        text-decoration: none;
        color: var(--Gray);
        font-size: 13px;
        border-bottom: 1px solid var(--Gray);
        padding: 0 0 2px 0;
        position: relative;

        &, &::after{
            transition: .5s ease-in-out;
        }
        &:hover{
            color:var(--black);
            border-color: var(--Black);
        }

        &::after{
            position: absolute;
            content:'';
            height: 15px;
            width: 1px;
            background: var(--Gray);
            rotate: 15deg;
    
            bottom: 5%;
            left: -10%;
        }
        &:hover::after{
            background:var(--Black)
        }

    }
    
}